:root {
  --color-black: rgb(20, 20, 20);
  --color-blue: rgb(0, 101, 254);
  --color-white: rgb(255, 255, 255);
  --color-span: rgb(0, 90, 226);
  --background-color-link: rgba(255, 255, 255, 0.078);
  --background-color-possibility: rgb(249, 251, 253);
  --border-color-detail: rgb(214, 214, 214);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

/* Header */
header {
  max-width: 1280px;
  height: 45px;
  margin: 0 auto;
  padding: 10px 20px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-logo {
  width: 150px;
  height: 40px;
}
img {
  max-width: 100%;
  display: block;
}
.nav-container-list {
  max-width: 500px;
  list-style: none;
  display: flex;
  gap: 20px;
}
.nav-container-list li {
  position: relative;
}
.nav-container-list a {
  text-decoration: none;
  color: var(--color-black);
  font-size: 16px;
  font-weight: 500;
  transition: color 0.3s;
}
.fa-chevron-down {
  font-size: 16px;
  margin-left: 7px;
}
.login-container {
  display: flex;
  align-items: center;
  gap: 15px;
  line-height: 18.75px;
}
.login-container button,
.button-container button {
  font-size: 16px;
  font-weight: 500;
}
.login-btn {
  color: var(--color-blue);
  background-color: transparent;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 150ms ease-in-out;
}
.login-btn:hover {
  background-color: var(--color-blue);
  color: var(--color-white);
}
.trial-btn {
  color: var(--color-white);
  background-color: var(--color-blue);
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  transition: all 150ms ease-in-out;
}
.trial-btn:hover {
  color: var(--color-wh);
  background-color: var(--color-white);
}
.menu-icon {
  display: none;
  font-size: 18px;
  color: var(--color-blue);
}

/*Main content */
.main-content {
  max-width: 1300px;
  margin: 0 auto;
}

/* Title */
.title-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block: 3rem 1rem;
}

.title {
  max-width: 948px;
  padding-block-start: 2rem;
}

.title h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 80px;
  text-align: center;
}

.title span {
  color: var(--color-blue);
  position: relative;
}

.title span::after {
  content: url("./assets/Vector\ 3.png");
  display: inline-block;
  position: absolute;
  left: -50px;
  right: -50px;
  margin-block-start: 30px;
}

.heading {
  max-width: 750px;
  margin-block-start: 22px;
}

.heading p {
  max-width: 770px;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  padding-inline: 20px;
}

.button-container {
  max-width: 282px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  margin-block-start: 30px;
}

.sign-btn {
  width: 120px;
  height: 40px;
  padding: 12px 24px;
  color: var(--color-white);
  background-color: var(--color-blue);
  font-size: 1rem;
  font-weight: 600;
  border-radius: 19px;
  cursor: pointer;
  border: none;
}

.learn-btn {
  font-size: 1rem;
  line-height: 18.75px;
  text-align: left;
  background-color: transparent;
  border: 1px solid var(--color-white);
  color: var(--color-blue);
  font-size: 1rem;
}

/* Link */
.linkContainer {
  max-width: 700px;
  height: 256px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-image: url("./assets/Vector\ 2.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-block: 2rem;
}

.link-container {
  width: 560px;
  display: flex;
  flex-direction: column;
  border: 0.5px solid var(--color-blue);
  backdrop-filter: blur(212px);
  padding: 30px 55px;
  border-radius: 20px;
  gap: 15px;
}

.linkImg {
  display: block;
  max-width: 390px;
  height: 80px;
}

.link p {
  max-width: 550px;
  line-height: 24px;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}

/* Ellipse section */
.ellipse-section {
  margin: 0 auto;
}
.ellipseContainer {
  background-image: url("./assets/Rectangle.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-block-start: 25px;
}
.ellipse-container {
  width: 850px;
  height: 49px;
}
/* Possibility Section */
.possibility-section {
  background-color: var(--background-color-possibility);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 60px 120px;
  gap: 80px;
}
.possibility-title {
  max-width: 1450px;
  display: flex;
  flex-direction: column;
}
.possibility-title h4 {
  max-width: 337px;
  font-size: 38px;
  line-height: 48px;
  font-weight: 600;
}
.possibility-title span {
  color: var(--color-span);
}
.possibility-numbers {
  max-width: 709px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 50px;
}
.possibility-number1 p,
.possibility-number2 p,
.possibility-number3 p,
.possibility-number4 p {
  font-size: 32px;
  line-height: 40px;
  font-weight: 600;
}
.possibility-number1 span,
.possibility-number2 span,
.possibility-number3 span,
.possibility-number4 span {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}
.possibility-number1,
.possibility-number3,
.possibility-number4 {
  max-width: 135px;
}
.possibility-number2 {
  max-width: 120px;
}

/* Services section */
.services-section {
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  padding: 2rem;
  margin: 2rem 2rem 1rem;
  gap: 96px;
}
.service-container {
  display: flex;
  flex-direction: row;
  gap: 6.5rem;
}
.service-title {
  max-width: 400px;
  gap: 16px;
  max-width: 398px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.service-title h2 {
  line-height: 32px;
  text-align: left;
  font-size: 2rem;
  font-weight: 700;
  padding-inline-start: 8px;
  border-inline-start: 5px solid;
  border-image-source: linear-gradient(
    180deg,
    rgb(17, 34, 50) 0%,
    rgba(77, 107, 136, 0) 100%
  );
  border-image-slice: 1;
}
.service-title span {
  color: var(--color-span);
}
.service-title p {
  max-width: 395px;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-align: left;
  padding-inline-start: 8px;
}
.services {
  max-width: 708px;
  min-height: 504px;
  gap: 64px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.services-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
.services-content {
  max-width: 340px;
  gap: 40px;
  display: flex;
  flex-direction: column;
}
.service-content h2 {
  line-height: 28px;
  text-align: left;
  font-size: 32px;
  font-weight: 600;
  margin-block-end: 20px;
}
.service-content p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}
.service-img {
  max-width: 60px;
  height: 56px;
  object-fit: cover;
  background-color: rgb(229, 240, 255);
  padding: 20px;
  border-radius: 50%;
  margin-block-end: 2rem;
}
.service-img img {
  display: block;
}

/* Price Section */
.price-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.price-container {
  max-width: 595px;
  margin: 0 auto;
  gap: 16px;
}
.price-container h2 {
  font-size: 40px;
  line-height: 48px;
  padding-inline-start: 8px;
  border-inline-start: 5px solid;
  border-image-source: linear-gradient(
    180deg,
    #112232 0%,
    rgba(77, 107, 136, 0) 100%
  );
  border-image-slice: 1;
}
.price-container span {
  color: var(--color-span);
}
.price-container p {
  max-width: 540px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 24px;
  margin-block-start: 8px;
  text-align: center;
}
.price-content-container {
  max-width: 1088px;
  min-height: 627px;
  margin: 2rem auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0;
}
.price-content-container-1,
.price-content-container-3 {
  max-width: 379px;
  text-align: center;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px 60px 40px;
  position: relative;
  border: 0.5px solid rgb(0, 90, 226);
}
.price-content-container-1 p,
.price-content-container-2 p,
.price-content-container-3 p {
  text-align: start;
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
}
.price-content-service {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-block-end: 20px;
}
.price-content-service p {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  font-weight: 400;
}
.price-content-service .fa-circle-check {
  margin-inline-end: 10px;
  color: rgb(0, 90, 226);
}
.price-content-title {
  text-align: left;
  margin-block-end: 20px;
}
.price-content-title h2 {
  font-size: 40px;
  font-weight: 700;
  margin-block-start: 20px;
  margin-block-end: 10px;
}
.price-content-title p {
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}
.price-content-container-2 {
  color: rgb(255, 255, 255);
  background-color: rgb(30, 52, 72);
  max-width: 410px;
  position: relative;
  z-index: 1;
  padding: 80px 60px 120px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.price-content-service span {
  color: rgb(255, 255, 255);
}
.cost-button-container {
  max-width: 412px;
  top: 913px;
  left: 514px;
  display: flex;
  flex-direction: row;
  gap: 12px;
  margin-block-end: 4rem;
}
.custom-btn {
  max-width: 200px;
  color: var(--color-blue);
  background-color: transparent;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 24px;
  border-radius: 20px;
  border: 1px solid var(--color-blue);
}
.price-btn {
  max-width: 200px;
  color: var(--color-white);
  background-color: var(--color-blue);
  font-size: 16px;
  font-weight: 600;
  padding: 12px 24px;
  border-radius: 20px;
  border: 1px solid var(--color-blue);
}

/* Url section */
.url-section {
  padding: 4rem 3.5rem;
  background-color: rgb(17, 34, 50);
}
.url-container {
  max-width: 470px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
#url {
  width: 100%;
}
.url-input-2 {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
#url-domain,
#url-alias {
  width: 50%;
}
input,
select {
  color: rgb(50, 132, 255);
  font-size: 14px;
  font-weight: 500;
  padding: 12px;
  border-radius: 6px;
  border: 1px solid rgb(51, 133, 255);
  outline: none;
}
input::placeholder {
  color: #3284ff;
}
.submit-btn {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 12px 24px;
  margin-block-start: 20px;
  border-radius: 25px;
  font-size: 14px;
  font-weight: 500;
  line-height: 12px;
  text-align: left;
  background-color: rgb(0, 90, 226);
  color: rgb(255, 255, 255);
  border: none;
}
form p {
  font-size: 14px;
  line-height: 20px;
  color: rgb(73, 145, 255);
  font-weight: 400;
  max-width: 373px;
  margin-block-start: 15px;
}

/* FAQ */
.faq-section {
  margin: 1rem;
}
.faq-container {
  max-width: 792px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}
.faq-container-title {
  max-width: 112.1px;
  margin-block-end: 1rem;
}
.faq-container-title h2 {
  font-size: 40px;
  line-height: 32px;
  text-align: left;
  font-weight: 700;
  padding-inline-start: 8px;
  border-inline-start: 5px solid;
  border-image-source: linear-gradient(
    180deg,
    rgb(17, 34, 50) 0%,
    rgba(77, 107, 136, 0) 100%
  );
  border-image-slice: 1;
}
details {
  position: relative;
  max-width: 792px;
  border-bottom: 1px solid rgb(214, 214, 214);
  padding-block: 30px;
}
details p {
  width: 792px;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  padding-block: 15px 0;
}
details::after {
  content: "+";
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  right: 8px;
}
summary {
  max-width: 744px;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  list-style: none;
}

/* Optimize Section  */
.optimize-section {
  background-color: rgb(17, 34, 50);
  margin-block-start: 5rem;
}
.optimize-container {
  max-width: 806px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 3rem;
  gap: 32px;
}
.optimize-container p {
  color: var(--color-white);
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
}
.start-btn button {
  color: var(--color-white);
  background-color: var(--color-span);
  font-size: 16px;
  font-weight: 500;
  line-height: 12px;
  border: none;
  width: 200px;
  height: 48px;
  padding: 12px 24px;
  border-radius: 20px;
}

/* footer */

.footer-Container {
  max-width: 1440px;
 display: grid;
 grid-template-columns: repeat(1,1fr);
 padding-block: 3rem;
  margin: 2rem auto;
}
.firstcontainer {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin-block-end: 2.5rem;
}
.footer-logo img {
  display: block;
  width: 155px;
  padding: 8px;
}
.footer-icons {
  display: flex;
  flex-direction: row;
  padding-inline: 5px;
  gap: 24px;
}
.fa-twitter,
.fa-instagram,
.fa-linkedin,
.fa-square-facebook {
  width: 20px;
}
.first-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.secondContainer {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.second-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.offers,
.about {
  max-width: 180px;
  font-size: 16px;
  line-height: 24px;
}
.offers h3,
.about h3 {
  font-weight: 700;
}
.offers p,
.about p {
  font-weight: 400;
}
.offers,
.about {
  max-width: 180px;
}
.offers h3,
.about h3 {
  margin-block-end: 10px;
}

.offers p,
.about p {
  margin-block-end: 3px;
}
.second-container-term {
  display: flex;
  justify-content: center;
}
.term {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.term p {
  font-size: 14px;
  line-height: 20px;
  text-align: left;
  border-inline-end: 1.5px solid var(--color-black);
  padding-inline-end: 10px;
}
.term p:last-of-type {
  border: none;
}
@media (max-width: 1024px) {
  .main-content {
    max-width: 950px;
    padding: 0 10px;
  }
}
@media (max-width: 768px) {
  header {
    max-width: 90%;
  }
  .nav-container-list {
    width: 100%;
    display: none;
    flex-direction: column;
    gap: 15px;
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateY(-50%);
    z-index: 1000;
    padding: 20px;
  }
  .nav-container-list.active {
    display: flex;
  }
  .menu-icon {
    display: block;
    cursor: pointer;
  }
  .title {
    max-width: 948px;
    padding-inline: 10px;
  }
  .title h1 {
    font-size: 36px;
    line-height: 56px;
  }
  .heading p {
    font-size: 16px;
    line-height: 24px;
    padding-inline: 10px;
  }
  .linkContainer {
    padding-inline: 24px;
  }
  .link-container {
    max-width: 450px;
    padding: 20px;
  }
  .ellipseContainer {
    padding-inline: 50px;
  }
  .possibility-section {
    display: flex;
    flex-direction: column;
    padding-inline: 20px;
    gap: 20px;
  }
  .services-section {
    display: flex;
    flex-direction: row;
    padding-inline: 20px;
  }
  .service-container {
    display: grid;
   grid-template-columns: 1fr;
    gap: 20px;
  }
  .service-title {
    max-width: 100%;
    text-align: center;
    margin: 0 auto;
  }
  .price-content-container {
    flex-direction: column;
    gap: 20px;
  }
  .price-content-container-1,
  .price-content-container-2,
  .price-content-container-3 {
    width: 400px;
    padding: 10px 30px 20px;
  }
  .footer-Container {
    padding: 20px;
  }
}

@media (max-width: 480px) {
  .menu-icon {
    display: block;
    cursor: pointer;
  }
  .link-container {
    max-width: 400px;
  }
  .possibility-number1 p,
  .possibility-number2 p,
  .possibility-number3 p,
  .possibility-number4 p {
    font-size: 25px;
  }
  .possibility-number1 span,
  .possibility-number2 span,
  .possibility-number3 span,
  .possibility-number4 span {
    font-size: 14px;
  }
  .services-container{
  grid-template-columns: 1fr;
 }
.optimize-container p{
  font-size: 35px;
}
}
